{% include "header.html" %}
<body>
<form action="{{url_for('home')}}" method="post" enctype="multipart/form-data">
    <div class="chooseFile">
        {{form.photo(class="form-control form-control-lg", id="formFileLg")}}
    </div>
    <div class="d-grid gap-2">
        {{form.submit(class='btn btn-outline-secondary btn-lg')}}
    </div>
</form>
{% for color in colors %}
<div class="colors border rounded shadow" style="background-color:{{color}}">
    <h2>{{color}}</h2>
</div>
{% endfor %}


</body>


{% include "footer.html" %}